# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# React Native Android
/android/app/build/
/android/.gradle/
/android/.idea/
/android/local.properties
/android/*.iml
/android/.cxx

# React Native iOS
/ios/build/
/ios/Pods/
/ios/*.xcodeproj/*.xcworkspace
/ios/*.xcodeproj/xcuserdata/
/ios/*.xcodeproj/project.xcworkspace/xcuserdata/
/ios/*.xcodeproj/xcuserdata/
/ios/*.xcworkspace/xcuserdata/
/ios/DerivedData/
/ios/*.xcuserstate

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Watchman
.watchmanconfig

# VS Code
.vscode/
